<div class="row">
  <div class="col-12">
  <ul class="navbar navbar-light bg-secondary justify-content-start">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" class="d-inline-block align-top" alt="Bootsshop">
    </a>
    <form class="form-inline">
      <input id="srchFld" class="form-control" type="search" placeholder="" aria-label="Search">
      <select class="form-control ml-1 " id="srchSelect">
        <option>All</option>
        <option>CLOTHES</option>
        <option>FOOD AND BEVERAGES</option>
        <option>HEALTH & BEAUTY</option>
        <option>SPORTS & LEISURE</option>
        <option>BOOKS & ENTERTAINMENTS</option>
      </select>
      <button class="btn btn-primary ml-1" type="submit">Go</button>
    </form>
    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <h5><a class="nav-link text-white ml-3" href="#">Delivery</a></h5>
      </li>

      <li class="nav-item">
        <h5><a class="nav-link text-white" [routerLink]="['/contact']">Contact</a></h5>
      </li>
    </ul>
  </ul>
</div>
</div>

