<div class="container">
  <div class="row">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb bg-white" >
        <li class="breadcrumb-item"><a class="text-dark ml-1 mr-1" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="text-dark ml-1 mr-1" href="#">Products</a></li>
        <li class="breadcrumb-item active text-secondary ml-1 mr-1" aria-current="page">product Details</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div id="gallery" class="col-md-3 mt-1">
      <a href="#" title="Fujifilm FinePix S2950 Digital Camera">
        <img src="http://via.placeholder.com/180x180" alt="Fujifilm FinePix S2950 Digital Camera"/>
      </a>
      <!--<div id="differentview" class="moreOptopm carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <a href="themes/images/products/large/f1.jpg"> <img style="width:29%" src="themes/images/products/large/f1.jpg" alt=""/></a>
            <a href="themes/images/products/large/f2.jpg"> <img style="width:29%" src="themes/images/products/large/f2.jpg" alt=""/></a>
            <a href="themes/images/products/large/f3.jpg" > <img style="width:29%" src="themes/images/products/large/f3.jpg" alt=""/></a>
          </div>
          <div class="item">
            <a href="themes/images/products/large/f3.jpg" > <img style="width:29%" src="themes/images/products/large/f3.jpg" alt=""/></a>
            <a href="themes/images/products/large/f1.jpg"> <img style="width:29%" src="themes/images/products/large/f1.jpg" alt=""/></a>
            <a href="themes/images/products/large/f2.jpg"> <img style="width:29%" src="themes/images/products/large/f2.jpg" alt=""/></a>
          </div>
        </div>
        &lt;!&ndash;
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        &ndash;&gt;
      </div>-->

      <div class="btn-toolbar">
        <div class="btn-group">
          <span class="btn"><i class="icon-envelope"></i></span>
          <span class="btn"><i class="icon-print"></i></span>
          <span class="btn"><i class="icon-zoom-in"></i></span>
          <span class="btn"><i class="icon-star"></i></span>
          <span class="btn"><i class=" icon-thumbs-up"></i></span>
          <span class="btn"><i class="icon-thumbs-down"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-9 mt-1">
      <h3 class="text-secondary">Fujifilm FinePix S2950 Digital Camera </h3>
      <small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
      <hr class="soft"/>
      <form class="form-group row">
        <label class="col-sm-2 col-form-label"><span>$222.00</span></label>
        <div class="col-sm-10">
          <input type="number" class="span1 " placeholder="Qty."/>
          <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i
            class="fa fa-shopping-cart fa-xs"></i></button>
        </div>
      </form>

      <hr class="soft"/>
      <h5 class="text-secondary">100 items in stock</h5>
      <form class="form-group row align-items-lg-center">
        <label class="text-secondary col-md-10 col-form-label text-right"><span>Color</span></label>
        <div class="col-md-2 text-right">
          <select class="text-secondary btn-block rounded ">
            <option>Black</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Brown</option>
          </select>
        </div>
      </form>
      <hr class="soft clr"/>
      <p class="text-secondary">
        14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture.
        ISO sensitivity ISO6400 at reduced resolution.
        Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and
        shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm.
        Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).

      </p>
      <button class="btn btn-small pull-right" href="#detail">More Details</button>
      <br class="clr"/>
      <a href="#" name="detail"></a>
      <hr class="soft"/>
    </div>
  </div>
  <div class="row">

    <ul class="nav nav-tabs pull-right" id="myTab" role="tablist">
      <li class="nav-item ">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true">Product detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">Related Product</a>
      </li>

    </ul>

  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active mt-2" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h4>Product Information</h4>
      <table class="table table-bordered">
        <tbody>
        <tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2">Fujifilm</td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">FinePix S2950HD</td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Released on:</td><td class="techSpecTD2"> 2011-01-28</td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td><td class="techSpecTD2"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Display size:</td><td class="techSpecTD2">3</td></tr>
        </tbody>
      </table>

      <h5>Features</h5>
      <p>
        14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).<br/>
        OND363338
      </p>

      <h4>Editorial Reviews</h4>
      <h5>Manufacturer's Description </h5>
      <p>
        With a generous 18x Fujinon optical zoom lens, the S2950 really packs a punch, especially when matched with its 14 megapixel sensor, large 3.0" LCD screen and 720p HD (30fps) movie capture.
      </p>

      <h5>Electric powered Fujinon 18x zoom lens</h5>
      <p>
        The S2950 sports an impressive 28mm – 504mm* high precision Fujinon optical zoom lens. Simple to operate with an electric powered zoom lever, the huge zoom range means that you can capture all the detail, even when you're at a considerable distance away. You can even operate the zoom during video shooting. Unlike a bulky D-SLR, bridge cameras allow you great versatility of zoom, without the hassle of carrying a bag of lenses.
      </p>
      <h5>Impressive panoramas</h5>
      <p>
        With its easy to use Panoramic shooting mode you can get creative on the S2950, however basic your skills, and rest assured that you will not risk shooting uneven landscapes or shaky horizons. The camera enables you to take three successive shots with a helpful tool which automatically releases the shutter once the images are fully aligned to seamlessly stitch the shots together in-camera. It's so easy and the results are impressive.
      </p>

      <h5>Sharp, clear shots</h5>
      <p>
        Even at the longest zoom settings or in the most challenging of lighting conditions, the S2950 is able to produce crisp, clean results. With its mechanically stabilised 1/2 3", 14 megapixel CCD sensor, and high ISO sensitivity settings, Fujifilm's Dual Image Stabilisation technology combines to reduce the blurring effects of both hand-shake and subject movement to provide superb pictures.
      </p>


    </div>
    <div class="tab-pane fade mt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">related product list</div>
  </div>


</div>

