<div class="container">
<div class="row">
    <p class="h4">Contact us: </p>

  <dl class="row" id="addr">
    <dt class="col-sm-12">Address: </dt>
    <dd class="col-sm-12">{{contact?.article.title}}</dd>

    <dt class="col-sm-12">Post code: </dt>
    <dd class="col-sm-12">{{contact?.article.body}}</dd>

    <dt class="col-sm-12">Telephone: </dt>
    <dd class="col-sm-12">{{contact?.article.desc}}</dd>
  </dl>
</div>
<div class="row">
    <form id="contactForm" class="col-12" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputFirstName">First Name* </label>
      <input formControlName="firstname" class="form-control form-control-lg" id="inputFirstName" aria-describedby="firstnameHelp"
             placeholder="Enter first name">
      <div class="alert alert-danger" *ngIf="contactForm.get('firstname').errors && contactForm.controls['firstname']?.touched">
        <div *ngIf="contactForm.get('firstname').errors.required">First name is Required.</div>
        <div *ngIf="contactForm.get('firstname').errors.minlength || contactForm.get('firstname').errors.maxlength">First name must be between 3 and 16 characters.</div>
      </div>

    </div>

    <div class="form-group">
      <label for="inputLastName">Last Name*</label>
     <!-- <p><span class="text-muted" *ngIf="!contactForm.controls['lastname'].valid && contactForm.controls['lastname']?.touched"> Please enter a valid last name</span></p>-->
      <input formControlName="lastname" class="form-control form-control-lg" id="inputLastName" aria-describedby="lastnameHelp"
             placeholder="Enter last name">
      <div class="alert alert-danger" *ngIf="contactForm.get('lastname').errors && contactForm.controls['lastname']?.touched">
        <div *ngIf="contactForm.get('lastname').errors.required">Last name is Required.</div>
        <div *ngIf="contactForm.get('lastname').errors.minlength || contactForm.get('lastname').errors.maxlength">Last name must be between 3 and 16 characters.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address*</label>
        <!--<span class="text-muted" *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email']?.touched"> Please enter a valid email address</span>-->
      <!--<span class="text-muted" [hidden]="!contactForm.hasError('emailTaken', 'email')">
        Email address is duplicate.
      </span>-->

      <input formControlName="email" type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp"
             placeholder="Enter email">
      <div class="alert alert-danger" *ngIf="contactForm.get('email').errors && contactForm.controls['email']?.touched">
        <div *ngIf="contactForm.get('email').errors.required">Email is Required.</div>
        <div *ngIf="contactForm.get('email').errors.CannotContainSpace">Email cannot contain space.</div>
        <div *ngIf="contactForm.get('email').errors.incorrectMailFormat">Incorrect Email Format.</div>
      </div>

    </div>
    <div class="form-group">
      <label for="InputMessage">Message</label>
      <textarea formControlName="message" class="form-control" id="InputMessage" rows="4"  placeholder="Enter message"></textarea>
    </div>
      <app-alert></app-alert>
    <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid" >Submit</button>
  </form>


</div>
</div>

