#contactForm{
  width: 35%;
  margin:0 auto;
  padding: 40px 30px;
  border:2px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 1px #888888;
}
.alert{
  padding: 0.5rem 1rem;
}

#addr{
  padding-left: 12px;
}
.text-muted {
  background-color: DeepSkyBlue;
}
input.ng-invalid.ng-touched{
  border-color:#dc3545
}
