<div class="row">
  <div class="col-12">

    <ul class="nav justify-content-end ">
      <span class="navbar-text mt-1" id="topnavtext">
            Welcome!<strong > User</strong>
      </span>

      <li class="nav-item ml-2">
        <a class="nav-link px-1" href="#"><span class="btn btn-primary btn-sm btn-light">$155.00</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-1" href="#"><span class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart fa-xs"></i> [ 3 ] Itemes in your cart </span>
        </a>
      </li>
    </ul>
  </div>
</div>

